
body {
    background-color: rgb(2, 2, 36);
  }
h1{ 
    font-size: 80px;
    text-align: center;
    background: linear-gradient(to left,
                violet,
                indigo,
                blue,
                green,
                yellow,
                orange,
                red);
    -webkit-background-clip:text;
        color: transparent;
    }

h4{
    text-align: center;
    color: beige;
}
h3{
  font-size:xx-large;
  color: white;
  /* float: left; */
}

div{
    
    background-color: rgb(2, 2, 36);;    
    text-align: center;
  }
  button{
       color: white;
       background-color:rgb(7, 7, 150);
       border: 2px rgb(7, 7, 150);
  }
  #div1{
    height: 100px;
    width: 1500px;
  }
  .button1{
    background-color:rgb(7, 7, 150); 
    border: 2px;
    border-color: white;
  }
  p{
    color: beige;
    text-align: center;
  }
  /* .hr{ */
    /* color: blueviolet; */
  /* } */
  #leftbox{
    float: left;
    height: 100px;
    width: 30%;
  }
  #middlebox{
    float: left;
    height: 100px;
    width: 30%;
  }
  #rightbox{
    float: right;
    height: 100px;
    width: 39%;
  }
  .div2{
    float: left;
    height: 100px;
    width: 2px;
    background-color: blueviolet;
  }
  .div3{
    float: left;
    height:100px;
    width:2px;
    background-color: blueviolet;
  }
  .new{
    /* float: right; */
    color: rgb(76, 29, 121);
    font-size: larger;
  }
  .line{
    height: 100px;
    width: 2%;
    background-color: blueviolet;
  }
  #change{
    color: rgb(20, 174, 221);
  }
  #new1{
    text-align: left;
    color:rgb(163, 87, 201);
  }
  #div7{
    height: 900PX;
  }
  h2{
    font-size: 40px;
    text-align:left;
    color: aliceblue;
  }
#div3{
  height: 80px;
}
#para{
  float:left;
  color: rgb(157, 86, 223);
}
#space{
  float: right;
  height: 2000px;
  width: 100px;
  background-color: rgb(2, 2, 36);
}
#space1{
  float: left;
  height: 2000px;
  width: 50px;
  background-color: rgb(2, 2, 36);
}
.div4{
  float: right;
  height: 700px;
  width: 250px;
  border: 1px rgb(67, 3, 128);
  background-color: rgb(2, 2, 36);

}
.div5{
  float: right;
  height: 450px;
  width: 250px;
  border: 1px rgb(67, 3, 128);
  background-color: rgb(2, 2, 36);

}
.inside{
padding: 20px;
  height: 20%;
  width: 75%;
  margin: 20px;
  border-radius: 20px;
  background-color:rgb(9, 9, 56) ;
  border: 50px ;
  border-color:rgb(221, 153, 238) ;
}
.inside1{
  padding: 20px;
  height: 30%;
  width: 75%;
  border: 10px;
  border-color: blueviolet;
  margin: 20px ;
  border-radius: 20px;
  background-color:rgb(9, 9, 56) ;
}
#div6{
  height: 250px;
  width: 500px;
}
.change2{
  padding: 20px;
  font-size: larger;
  text-align: bottom;
}
img{
  padding: 10px;
  float: left;
}
.item{
  height: 65px;
  width: 65px;
  background-color:rgb(29, 29, 109) ;
  border-radius: 15px;
}
.button2{
  height: 140px;
  width: 180px;
  background-color: rgb(2, 2, 36) ;
  border: 2px;
  border-color: aqua;
  font-size: larger;
  border-radius: 12px;
  border:2px lightgrey;
}
.size{
  text-align: center;
  color:rgb(163, 87, 201);
}
.gap{
  height: 100px;
  width:3000px ;
  background-color: brown;
}
.size2{
  text-align: center;
  color: aliceblue;
  font-size: 50px;
}
.para2{
  color: rgb(157, 86, 223);
}
#div8{
  text-align: center;
  float:right;
  height: 280px;
  width: 1000px;
  background-color:rgb(9, 9, 56);
  border: 2px;
  border-radius: 20px;
  padding:50px;
}
.inside3{
  float: right;
  height: 90%;
  width: 30%;
  padding: 8px;
  background-color: rgb(9, 9, 56);
}
.inside4{
  float: left;
  height: 90%;
  width: 30%;
  padding: 8px;
  background-color: rgb(9, 9, 56);
}

.space3{
  float: right;
  height: 260px;
  width: 25px;
  background-color:rgb(9, 9, 56);
}
.space4{
  float: left;
  height: 260px;
  width: 20px;
  background-color:rgb(9, 9, 56);
}
.inside5{
  height: 98px;
  width: 280px;
  background-color: aqua;
  border: 2px;
  border-radius: 20px;
  padding: 2px;
  
}
.space5{
  height: 50px;
  width: 300px ;
  background-color: rgb(9, 9, 56);
}
.button4{
  height: 98px;
  /* padding :10px; */
  width:280px ;
border-radius: 20px;
}