#Div1{
    border: 1px solid black;
    height: 80px;
}
#Zomato_navbar{
    display: flex;
    justify-content:space-around;
    /* background-color: blue; */
}
#Zomato_size{
    font-size: 30px;
}
#Search_size{
    width: 400px;
    height: 40px;
}
#Search_button{
    width: 100px;
    height: 40px;
}
.Zomato_cards{
    border: 1px solid black;
    height: 400px;
    display: flex;
}
.itme1{
    border: 1px solid black;
    width:25%;
}
.card-body{
    /* display: flex; */
}
    